<div class="container-fluid p-5">
    <div class="row">
        <div class="col-6">
            <span class="fs-3">Bom dia, {{user}}</span>
            <br>
            <span>imagine um grafico bonitao aqui</span>
        </div>
        <div class="col-6">
            <div class="bg-white rounded p-5">
                <div class="span fs-4 fw-bold text-center">Próximos eventos</div>
                <div *ngFor="let item of schedules$|async" class="d-flex gap-5 justify-content-start align-items-center mt-3">
                    <img src="../../../assets/sidebar/home.png" alt="calendar">
                    <div class="d-flex flex-column">
                        <span class="fs-5">{{item.title}}</span>
                        <span class="fs-s">Agendado {{parseDate(item.date)}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>