<div class="container" [formGroup]="form">
  <div
    class="d-flex flex-column justify-content center align-items-center gap-3 p-3"
  >
    <span class="fs-4 align-self-start">Editar Agendamento</span>
    <input
      formControlName="title"
      placeholder="Descrição"
      type="text"
      class="form-control"
    />
    <input
      formControlName="client"
      placeholder="Nome cliente"
      type="text"
      class="form-control"
    />
    <select
      name="status"
      [value]="this.status"
      formControlName="status"
      class="form-control"
      id="status"
    >
      <option *ngFor="let item of types" [value]="item">{{ item }}</option>
    </select>
    <input
      formControlName="technician"
      placeholder="Técnico"
      type="text"
      class="form-control"
    />
    <input
      formControlName="date"
      placeholder="Date"
      type="date"
      class="form-control"
    />
    <button
      [disabled]="this.form.invalid"
      (click)="save()"
      class="btn btn-primary"
    >
      Gravar
    </button>
  </div>
</div>
