.sidebar{
    flex-basis: 50px;
}
.content{
   flex-grow: 1;
   background-image: url("../assets/background.png" );
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.bg-gray{
    background-color: lightgray;
}
